
/*#faq_wrap { margin: 30px 60px; text-align:left; border-top:1px solid #e9e9e9;}*/
/*#faq_wrap h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}*/
/*.faq_admin {text-align:right}*/
/*.faq_admin .btn_admin {padding:7px;}*/
/*#faq_wrap ol {margin:0;padding:0;list-style:none}*/
/*#faq_con {border:1px solid #e9e9e9;border-top:0; padding:10px; box-sizing:border-box}*/
/*#faq_con h3  {display:block;padding:10px;border-top:1px solid #e9e9e9;background:#eeeeee;text-decoration:none}*/
/*#faq_con .con_inner {padding:10px;line-height:1.8em}*/
/*#faq_con .con_closer {margin:10px 0 0;text-align:right}*/
/*#faq_con .closer_btn {margin:0;padding:0;border:0;background:transparent}*/
/*.faq_tolist {padding:0 10px;text-align:right}*/
/*.faq_img {text-align:center}*/

/*#faq_sch {text-align:center;margin:25px 10px 35px 10px;}*/
/*#faq_sch .btn_submit{padding: 8px 25px;}*/
/*#faq_sch .frm_input{margin-left:25px;}*/


/*#faq_wrap h3 {padding-left: 40px;	background-image: url(../img/img/19pbtn_q.jpg);	background-position: 10px 7px ;  	background-repeat: no-repeat; 	}*/
/*#faq_wrap .con_inner p{  padding-left: 30px; font-size: 16px;margin: 10px 10px; }*/
/*#faq_wrap .con_inner p:first-of-type  {background-image: url(../img/img/19pbtn_a.jpg);background-position: 0 0 ;  	background-repeat: no-repeat;}*/
/*#faq_con h3 p {margin:0px 10px;}*/
.faq-area{
    background:white;
    width:745px;
    margin-left: auto;
    margin-right: auto;
}
.faq-title{display: block;font-size: 1.5em;font-weight: bold;margin-top:10px;padding-top: 25px;}
#faq_thtml{
    padding-bottom:10px;
}
.bo_fx {
    margin: 5px;
    zoom: 1;
    display: inline-block;
    padding: 7px 7px;
}
#bo_list_total {
    float: right;
    padding-top: 5px;
    color: #888888;
    font-weight: bold;
    padding-right: 20px;
}

.bo_fx .search_t2 {
    float: left;
    width: 940px;
    margin-left: 0px!important;
    margin-top: 10px!important;
    margin-bottom: 30px;
    border-top: 1px solid #3d4144;
    border-collapse: collapse;
}

#bo_list {
    border-bottom: 1px solid #dddddd;


    border-bottom: 1px solid #dddddd;
    /* background-color: #f5f5f5; */
   margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 30px;
}
.notice_search select {
    box-sizing: border-box;
    white-space: pre;
    color: black;
    background-color: white;
    cursor: default;
    border: 1px solid #b0b5b7;
    border-image: initial;
    height: 27px;
    padding: 0px 10px;
}
.notice_search {
    text-align: center;
}
.notice_search ul {
    display: inline-block;
}
.notice_search ul li {
    display: inline-block;
}
.btn_search_ok{
    background-color: #be3a94;
    width: 100px;
    height: 26px;
    color: #fff;
    font-size: 14px;
   margin: 0px;
    margin-top: -4px;
    padding: 0px;
}
.btn_search_ok:hover {
    background-color: #7f5772;
    color: #fff;
    border-color: #141619;
}
.btn_search_ok:focus {
    background-color: #be3a94;
    color: #fff;

}
#bo_w .tbl_frm01 {
}
.tbl_frm01 {
    margin: 0 0 20px;
}
.tbl_frm01 table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.tbl_frm01 th {
    width: 100px;
    padding: 7px 13px;
    border: 1px solid #e9e9e9;
    border-left: 0;
    background: #f5f8f9;
    text-align: left;
}
#bo_w .tbl_frm01 td {
    text-align: left;
}
.tbl_frm01 td {
    padding: 7px 10px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background: transparent;
}
.frm_input {
    height: 22px;
}
.tbl_frm01 textarea, .frm_input {
    border: 1px solid #e4eaec;
    background: #f7f7f7;
    color: #000;
    vertical-align: middle;
    line-height: 2em;
}
#bo_w .tbl_frm01 td {
    text-align: left;
}
.tbl_frm01 td {
    padding: 7px 10px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background: transparent;
}